<launch>

    <param name="robot_description" textfile="$(find humanrobo)/src/urdf/human.urdf"/>
    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
	<rosparam command="load" file="$(find humanrobo)/src/config/shouban_control.yaml"/>


    <node 
    name ="controller_spawner" 
    pkg="controller_manager" 
    type="spawner" 
    respawn="false" 
    output="screen" 
    ns="humanrobo" 
    args="human_controller"/>

    <!-- 启动 gazebo的仿真世界环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />

    <!-- 在 gazebo 中显示机器人模型 -->
    <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find humanrobo)/src/urdf/human.urdf -urdf -model human -z 0.3"
    output="screen" />

    <node 
    name ="robot_state_publisher" 
    pkg="robot_state_publisher" 
    type="robot_state_publisher" 
    respawn="false" 
    output="screen"/>

    <node 
    name ="state_controller_spawner" 
    pkg="controller_manager" 
    type="spawner" 
    respawn="false" 
    output="screen" 
    ns="humanrobo" 
    args="joint_state_controller"/>
	
</launch>
<!-- L_hip_IO_ctr L_thign_SP_ctr L_thign_BF_ctr L_knee_ctr L_ankle_BF_ctr L_foot_ctr R_hip_IO_ctr R_thign_SP_ctr R_thign_BF_ctr R_knee_ctr R_ankle_BF_ctr R_foot_ctr -->
